@import "../../../assets/less/_variables";

.lottery-container {
  //background: @bgWhite;
  //padding: 8px 16px 8px 16px;
}

.lottery-form-container {
  width: 600px;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .lottery-form-container {
    width: auto;
    margin: auto;
  }
}

.history-container {
  min-width: 768px;
}
.history-period {
  font-weight: 700;
  font-size: 14px;
  padding: 8px 0 12px 0;
}

.personal-title {
  font-size: 16px;
  padding: 8px 0 8px 0;
}

.personal-exchange {
}

.grand-prize-error {
  color: @bgRed;
  font-size: 14px;
}

.grand-prize-right {
  color: @primary-color;
  font-size: 14px;
}

.reward-eth-address-input {
  width: 500px !important;
}

@media screen and (max-width: 768px) {
  .reward-eth-address-input {
    width: 100% !important;
  }
}
