@import "../assets/less/_variables";

html,
body,
#app {
  height: 100%;
}
body {
  font-family: @font-sets;
  margin: 0;
  padding: 0;
}

.body-container {
  margin: auto;
  max-width: @maxWidth;
  padding: @paddingLeftRight;
  padding-top: @header-height;
  padding-bottom: 16px;
}
